
.form-group {
    width: 300px;
    margin: auto;
}
.row1{
    margin-top: 60px;
}

article{
    margin: auto;
    text-align: center;
}
.form-group button{
    margin-top: 8px;
    background-color: rgb(153, 204, 233);

}

.row3{
    margin: 0 auto;

}
.carousel{
    width: 550px;
    margin: auto;

}
.carousel-item img{
 height: 200px;
 width: 480px;
}
.carousel-control-prev-icon{
    color: black;
}

.carousel-caption h3{
    color: rgb(94, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-radius: 9px;

}

.navbar-brand img {
    width: 180px;

} 
.container-fluid {

font-family: Arial, Helvetica, sans-serif;

}
.nav-item a{
margin-left: 110px;
font-weight: bold;


}

.d-flex{

    margin-right: 30px;

}


.content{
   
    margin-top: 50px;
    
    }
    
    .picleft img{
width: 520px;
height: auto; 
border-radius: 9px;

}

  
    
    .footer
    
    {
   
       
        margin-top: 100px;
        background-color: rgb(93, 175, 223);
    }

.copyright{

 margin-left: 20px;

}
.copyright p
{
margin-left: 5px;

}
.footer img {
width: 120px;
height: auto;
}


body{
background-image: url("Picture1.jpg");    background-size: cover;
    background-position: center;
}


.navbar{
background-color: rgb(93, 175, 223);

}
.dropdown-menu{
    background-color: rgb(93, 175, 223);

    border: none;

}
 .btn-outline-success{

    background-color: white;
    color: black;

}
.followus a{
    font-size: 20px;
}
.row2 {

text-align: center;
margin-top: 50px;
margin-bottom: 50px;




}
.row2 a{
    font-size: 30px;
    border-width: 1px;
    border-radius: 9px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    margin: 100px;
    background-color: rgb(240, 240, 240);
    
    
    }
 

@media(max-width: 1000px){
    .copyright{
        margin: 0px;
    }
    .navbar a{
        margin-left: 10px;
   }
   .navbar-nav a{
border-bottom: 3px inset;
border-width: 1px;
border-bottom-color: rgb(255, 228, 204);

}




}
    
    